<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>Waki | Comparte,Descubre</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://belohorizonte.ec/waki/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://belohorizonte.ec/waki/css/heroic-features.css" rel="stylesheet">
     <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
      <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="http://t4t5.github.io/sweetalert/dist/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="http://t4t5.github.io/sweetalert/dist/sweetalert.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
            
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                     <img src="http://belohorizonte.ec/waki/img/lb.svg" class="logito">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                     <li>
                                <form role="search" class="navbar-left app-search pull-left hidden-xs">
                                     <input type="text" placeholder="Buscar..." class="form-control">
                                     <a href=""><i class="fa fa-search"></i></a>
                                </form>
                     </li> 


                      <li>
                        <a class="" href="#">La vaca</a>
                    </li>
                    <li>
                        <a class="" href="#">Market</a>
                    </li>
                    <li>
                        <a class="" href="#">Chauchas</a>
                    </li>
                    <li>
                        <a class="" href="#">Trueques</a>
                    </li>
                   
                            <li class="dropdown hidden-xs">
                                <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge badge-xs badge-pink">3</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-lg">
                                    <li class="text-center notifi-title">Notificaciones</li>
                                    <li class="list-group nicescroll notification-list" tabindex="5000" style="overflow: hidden; outline: none;">
                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-diamond noti-primary"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">ha ingresado una nueva orden</h5>
                                                    <p class="m-0">
                                                        <small>hay nuevas opciones disponibles</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-cog noti-warning"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Nueva configuracion</h5>
                                                    <p class="m-0">
                                                        <small>Hay pequeños ajustes disponibles</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                        <!-- list item-->
                                        <a href="javascript:void(0);" class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left p-r-10">
                                                    <em class="fa fa-bell-o noti-success"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="media-heading">Actualizaciones</h5>
                                                    <p class="m-0">
                                                        <small>hay nuevas <span class="text-primary">2</span> actualizaciones
                                                        </small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>

                                    </li>

                                    <li>
                                        <a href="javascript:void(0);" class=" text-right">
                                            <small><b>Ver todas las notificaciones</b></small>
                                        </a>
                                    </li>

                                <div id="ascrail2000" class="nicescroll-rails" style="width: 8px; z-index: 1000; cursor: default; position: absolute; top: 0px; left: -8px; height: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 6px; height: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(152, 166, 173); background-clip: padding-box;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 8px; z-index: 1000; top: -8px; left: 0px; position: absolute; cursor: default; display: none;"><div style="position: relative; top: 0px; height: 6px; width: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(152, 166, 173); background-clip: padding-box;"></div></div></ul>
                            </li>

                            <li class="dropdown">
                                <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="false"><img src="http://graph.facebook.com/10206455881056630/picture" alt="user-img" class="img-circle"> </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Perfil</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Ingresar</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Ofertas</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Puntos</a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a></li>
                                </ul>
                            </li>
                </ul>
            </div>

                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

     <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
            <!-- Destacados -->
         <div class="row">
            <div class="col-lg-12 spa">
                <h3 class="tit roj">Ingrese su oferta</h3>
            </div>
        </div>
        <hr>

      <div class="row">
            <div class="col-md-10">
                <div class="ingreso">
                <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
  <fieldset class="form-group">
    <label for="exampleInputEmail1">Titulo</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el titulo de su publicacion" name="exampleInputEmail1">
  </fieldset>
   <fieldset class="form-group">
    <label for="exampleTextarea">Descripcion</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="exampleTextarea"></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="exampleSelect1">Categoria</label>
    <select class="form-control" id="exampleSelect1" name="exampleSelect1">

        {% for foo in categoria %}
                   <option value="{{ foo.id }}">   {{ foo }}</option>
                    {% endfor %}

    </select>
  </fieldset>




  <fieldset class="form-group">
    <label for="exampleInputFile">Ingresar Imagen</label>
    <input type="file" class="form-control-file" id="exampleInputFile" name="exampleInputFile">
    <small class="text-muted">Seleccionar una imagen de referencia.</small>
  </fieldset>
   <fieldset class="form-group">
    <label for="exampleInputEmail1">Oferta</label>
    <input type="number" class="form-control" id="exampleOferta" placeholder="Ingrese su oferta", name="exampleOferta">
  </fieldset>

                <input type="submit" class="btn btn-primary" value="Ingresar">
</form>
              </div>
            </div>

        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                     <p>Copyright &copy; Waki 2016  | Made with <i class="fa fa-heart roj" aria-hidden="true"></i> by<span> Bits please</span>
                        <a class="roj" href="#contact">Contacto</a></p>

                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="http://belohorizonte.ec/waki/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://belohorizonte.ec/waki/js/bootstrap.min.js"></script>
    {% if estado %}
    <script>
    swal("Registro Exitoso!", "Ha sido ingresado con exito!", "success")
    </script>
    {% else %}
        <script>
    sweetAlert("Oops...", "Error en el ingreso!", "error");
        </script>
    {% endif %}
</body>

</html>
